@include media-sm {


    .container-fluid {
        overflow-x: hidden;
    }

    //homepage
    .headings {
        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1rem;
        }
    }


    // .menuBar {
    //     min-height: 15vh;
    // }

    nav {
        display: none;
    }

    .menu {
        display: flex;
    }

    .menu-drop {
        display: flex;
    }

    .bar {
        height: 15vh;
    }

    footer {
        .iconbox {
            width: 10%;
        }

        p {
            font-size: .9rem;
            width: 90%;
        }


    }

    .footerHomepage {
        p {
            font-size: .7rem;
        }
    }

    //aboutus

    .header {
        h1 {
            font-size: 2rem;
        }
    }

    .about {
        .img {
            height: 70vh;
        }

        .text {
            height: 70vh;

            h1 {
                font-size: 1.6rem;
            }

            h2 {
                font-size: 1.4rem;
            }

            p {
                font-size: .8rem;
            }
        }
    }

    //discounts


    .discounts {
        .image {
            height: 60vh;
        }
    }

    //contact
    .contact {
        height: 80vh;
        box-sizing: border-box;
        margin: 1rem;
    }

    form {
        margin: 1rem;
        padding: 1rem;
        width: 100vw;
        height: 100%;

        h1 {
            font-size: 1.5rem;
            margin: .5rem 0;
            padding: .5rem 0;
        }

        input {
            margin: .5rem 0;
            padding: .5rem 0;
        }

        ::placeholder {
            margin: .5rem 0;
            padding: .5rem 0;
        }

        textarea {
            margin: .5rem 0;
        }

        button {
            width: 40%;
            border: 2px solid $second-color;
            background-color: transparent;
            color: $second-color;
            padding: .5rem;
        }
    }

    .icons {
        width: 80%;
        min-height: 100vh;
        margin: 0 auto;
        flex-direction: column;
        display: flex;
        justify-content: center;


        .row {
            flex-direction: column;
            display: flex;
            justify-content: center;

            .icon1 {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 1.5rem 0;
                height: 100%;
                width: 100%;

                i {
                    font-size: 3rem;
                }

                h1 {
                    font-size: 1.5rem;
                }
            }
        }
    }

}

@include media-md {

    //homepage

    .headings {
        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 2.5rem;
        }

        h3 {
            font-size: 2rem;
        }
    }

    // .menuBar {
    //     min-height: 12.5vh;
    // }

    .bar {
        height: 12.5vh;
    }

    footer {

        .iconbox {
            width: 5%;
        }

        p {
            width: 95%;
            font-size: 1rem;
        }
    }

    .footerHomepage {
        p {
            font-size: 1rem;
        }
    }

    //about
    .header {
        h1 {
            font-size: 3rem;
        }
    }

    .about {
        .text {
            h1 {
                font-size: 3rem;
            }

            h2 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.5rem;
                padding: 5rem;
            }
        }
    }

    //discounts

    .discounts {
        .image {
            height: 80vh;
        }
    }

    //contact
    .contact {
        height: 85vh;
        box-sizing: border-box;
    }

    form {

        margin: 2rem;
        padding: 2rem;
        width: 60vh;
        height: 60vh;

        h1 {
            font-size: 2rem;
            margin: 1rem 0;
            padding: 1rem 0;
        }

        input {
            margin: .8rem 0;
            padding: .8rem 0;
        }

        ::placeholder {
            margin: .8rem 0;
            padding: .8rem 0;
        }

        button {
            width: 40%;
            border: 2px solid $second-color;
            background-color: transparent;
            color: $second-color;
            padding: .5rem;
        }
    }



}

@include media-lg {

    //homepage

    .headings {
        h1 {
            font-size: 5rem;
        }

        h2 {
            font-size: 4.5rem;
        }

        h3 {
            font-size: 3rem;
        }
    }



    footer {
        p {
            font-size: 1rem;
        }

        i {
            font-size: 2rem;
        }
    }


    //discounts

    .discounts {
        .image {
            height: 40vh;
        }
    }

    nav {
        height: 12.5vh;
        display: flex;

        img {
            height: 90px;
        }
    }

    .menu {
        display: none;
    }

    .menu-drop {
        display: none;
    }

    .icons {
        width: 100%;
        height: 100vh;
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;

        .row {
            flex-direction: row;
            display: flex;
            justify-content: center;
            align-items: center;

            .icon1 {
                flex-direction: column;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 2rem;
                height: 70%;
                width: 40%;

                i {
                    font-size: 5rem;
                }

                h1 {
                    font-size: 2rem;
                }
            }
        }
    }

}

@include media-xl {

    //about

    .header {
        h1 {
            font-size: 4rem;
        }
    }

    .about {

        .text {
            h1 {
                font-size: 3rem;
            }

            h2 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.3rem;
                padding: 5rem;
            }
        }
    }

    .discounts {
        .image {
            height: 55vh;
        }
    }

}

@include media-sm-landscape {



    .bar {
        height: 15vh;
    }

    //about

    .about {
        .img {
            height: 150vh;
        }

        .text {
            height: 120vh;

            h1 {
                font-size: 1.6rem;
            }

            h2 {
                font-size: 1.4rem;
            }

            p {
                font-size: .8rem;
            }
        }
    }

    //discounts

    .discounts {
        .image {
            height: 200vh;
        }
    }

    .menu {
        height: 25vh;
    }
}