body {
	.title::selection,
	h1::selection,
	h2::selection,
	h3::selection,
	i::selection,
	p::selection {
		background-color: $third-color;
	}

	.blog-content-wrapper {
		@extend .container;
		opacity: 0;
		animation: fade 1s 2.75s linear forwards;

		.title {
			@extend .m-4;
			@extend .mx-3;
			@extend .display-4;
			@extend .font-weight-bold;
			@extend .text-center;
		}

		.authors {
			@extend .mb-5;
			@extend .d-flex;
			@extend .justify-content-start;
			@extend .justify-content-lg-center;
			@extend .align-items-start;
			@extend .align-items-lg-center;
			@extend .flex-wrap;
			@extend .flex-lg-row;
			@extend .flex-column;

			.authorWrapper {
				@extend .d-flex;
				@extend .justify-content-center;
				@extend .align-items-center;
				@extend .mx-3;
				@extend .my-2;

				img {
					@extend .rounded-circle;
					width: 70px;
					height: 70px;
					border-width: 5px;
					border-style: solid;
					border-color: $third-color;
				}

				p {
					@extend .h4;
					margin: 0;
					margin-left: 10px;
					font-size: 25px;
				}
			}
		}

		.content-wrapper {
			@extend .mb-4;

			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				max-width: 80%;
				max-height: 50vh;
			}

			h1 {
				@extend .mb-4;
				@extend .mt-2;
			}

			p {
				text-align: justify;
				font-size: 19px;
			}
		}
	}
}