body {
	.title::selection,
	h1::selection,
	h2::selection,
	h3::selection,
	i::selection,
	p::selection {
		background-color: $third-color;
	}

	.blog-content-wrapper {
		@extend .container;
		opacity: 0;
		animation: fade 1s 2.75s linear forwards;

		.title {
			@extend .m-4;
			@extend .mx-3;
			@extend .display-4;
			@extend .font-weight-bold;
			@extend .text-center;
		}

		.authorWrapper {
			@extend .ml-5;
			display: flex;
			justify-content: left;
			align-items: center;

			img {
				@extend .rounded-circle;
				width: 70px;
				height: 70px;
				border-width: 5px;
				border-style: solid;
				border-color: $third-color;
			}

			p {
				@extend .h4;
				margin: 0;
				margin-left: 10px;
			}
		}

		.tags {
			@extend .ml-auto;

			p {
				font-size: 17.5px;
				margin-bottom: 0;
			}
		}

		.content-wrapper {
			@extend .mb-4;

			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				max-width: 80%;
				max-height: 50vh;
			}

			h1 {
				@extend .mb-4;
				@extend .mt-2;
			}

			p {
				text-align: justify;
			}
		}
	}
}