.blogH1 {
    color: $third-color;
    font-weight: 300;
    margin: 0;
    opacity: 0;
    animation: fade 1s 1.5s linear forwards;
}

.wrapperDesktop {
    cursor: pointer;

    a {
        width: 100%;
        height: 100%;

    }
}

.wrapperMobile {
    width: 100%;
    min-height: auto;

    .div {
        height: 50vh;
        width: 100%;
        position: relative;
    }


}

.yellowbar {
    background: $third-color;
    position: absolute;
    @include center;
    @include transition-ease;

    p {
        font-size: 1.5rem;
        color: $second-color;
        margin: 0;
        @include transition-ease;
        font-weight: 300;
    }
}

.article {
    background: url(../img/old-newspaper-350376_640.jpg);
    background-size: cover;
    opacity: 0;
    animation: fade 1s 2s linear forwards;

}

.feuilleton {
    background: url(../img/microphone-5594702_640.jpg) center;
    background-size: cover;
    opacity: 0;
    animation: fade 1s 2.5s linear forwards;
}

.interview {

    background: url(../img/writing-1209121_640.jpg) bottom;
    background-size: cover;
    opacity: 0;
    animation: fade 1s 3s linear forwards;
}

.review {
    background: url(../img/breakfast-1869772_640.jpg) center center;
    background-size: cover;
    opacity: 0;
    animation: fade 1s 3.5s linear forwards;
}

.story {
    background: url(../img/storytelling-4229843_640.jpg)center;
    background-size: cover;
    opacity: 0;
    animation: fade 1s 4s linear forwards;
}

.poetryCorner {
    background: url(../img/pen-4163403_640.jpg);
    background-size: cover;
    opacity: 0;
    animation: fade 1s 4.5s linear forwards;
}

.reportage {
    background: url(../img/reporter-852096_640.jpg);
    background-size: cover;
    opacity: 0;
    animation: fade 1s 4.5s linear forwards;
}