@include media-sm {
	.wrapperDesktop {
		display: none;
	}

	.wrapperMobile {
		display: flex;
	}

	.blogH1 {
		font-size: 2rem;
	}

	.yellowbar {
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 60px;
		margin: 0px;
	}

	.topBar {
		h1 {
			font-size: .8rem;
			margin: 10px;
		}

		img {
			margin: 10px;
		}
	}

	.blog-content-wrapper {
		.title {
			font-size: 3rem !important;
		}

		.autor {
			h3 {
				font-size: 1rem;
			}
		}

		.subtitle {
			font-size: 1.2rem;
		}

		.text {
			p {
				font-size: 1rem;
			}
		}
	}
}

@include media-md {}

@include media-lg {
	.wrapperDesktop {
		display: none;
	}

	.wrapperMobile {
		display: flex;
	}

	.yellowbar {
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 60px;
		margin: 0px;
	}

	.topBar {
		h1 {
			font-size: 1.5rem;
		}
	}

	.blogH1 {
		font-size: 3rem;
	}

	.blog-content-wrapper {
		.autor {
			h3 {
				font-size: 1.5rem;
			}
		}

		.subtitle {
			font-size: 1.5rem;
		}

		.text {
			p {
				font-size: 1.3rem;
			}
		}
	}
}

@include media-xl {
	.wrapperDesktop {
		display: flex;
	}

	.wrapperMobile {
		display: none;
	}

	.blog-content-wrapper {
		.title {
			font-size: 4rem !important;
		}
	}


	.yellowbar {
		width: calc(100% - 0.5rem);
		height: 60px;
		margin: 0.25rem;
	}
}