.menu-drop
	.menu-bar.black
		a( href="/" )
			img.ml-4( src="/img/logo-white.png" )
	
	.list.black2
		a( href="/about-us" ) Poznaj nas
		a( href="/discounts" ) Zniżki
		a( href="/blog" ) Blog
		a( href="/contact-us" ) Kontakt
	
	.menu-iconBar.black
		a.mr-4( href="https://www.instagram.com/su_42lo/" )
			i.fab.fa-instagram.yellowc
		a( href="https://www.facebook.com/groups/499859403913734" )
			i.fab.fa-facebook-f.yellowc