nav.black
	a( href="/" )
		img.ml-4( src="/img/logo-white.png" )
	ul.mr-4.mb-0
		a.yellowc( href="/about-us" ) Poznaj nas
		a.yellowc( href="/discounts" ) Zniżki
		a.yellowc( href="/blog" ) Blog
		a.yellowc( href="/contact-us" ) Kontakt

.menu.black
	a( href="/" )
		img.ml-4( src="/img/logo-white.png" )

	.burger.mr-4
		span.burger__bars