- const title = "Poznaj nas";

doctype html
html( lang="pl" )
	include elements/head.pug

	body
		include elements/menu-drop.pug

		.container-fluid.bg
			include elements/nav.pug

			.main-min-height
				.row.header.my-5
					h1 #{title}

				section.about
					each item, index in data
						.row.m-lg-5.mb-4
							.col-xl-6.col-sm-12
								.img.rounded(
									style=`background-image: url(/img/descriptions/${item.image});
										${index == 0 ?
											"background-position: center;" :
											(index == 1 ?
											"background-position: center; background-size: 75%;" :
											(index == 8 ?
											"background-size: 50%;" : "" ))}`
								)
								//- Remove the if statements when photos don't need one-by-one adjusting
							.col-xl-6.col-sm-12
								.text !{texts[index]}

			include elements/footer.pug

	include elements/scripts.pug