<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://kit.fontawesome.com/2e3d9b3214.js" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="menu-btn">
            <span class="menu-btn__burger"></span>
        </div>

        <nav class="nav">
            <img src="/img/logo.png" alt="">
            <ul class="menu-nav">
                <li class="item"><a class="link" href="#">Blog</a></li>
                <li class="item"><a class="link" href="#">Zniżki</a></li>
                <li class="item"><a class="link" href="#">Poznaj nas</a></li>
                <li class="item"><a class="link" href="#">Produkty</a></li>
                <li class="item"><a class="link" href="#">Kontakt</a></li>
            </ul>
        </nav>

        <div class="banner"></div>
        <div class="bar">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-f"></i>
        </div>
        <footer>
            <p>Copyright &copy; 2020 SU XLII Lo Kraków </p>
        </footer>
    </div>

    <script src="script.js"></script>
</body>

</html>