{
	"articles": [
		{
			"title": "",
			"authors": [
				{
					"name": "",
					"avatar": ""
				}
			],
			"thumbnail": "",
			"filename": "",
			"tags": []
		}
	],
	"interviews": [
		{
			"title": "",
			"authors": [
				{
					"name": "",
					"avatar": ""
				}
			],
			"thumbnail": "",
			"filename": "",
			"tags": []
		}
	],
	"felietons": [
		{
			"title": "",
			"authors": [
				{
					"name": "",
					"avatar": ""
				}
			],
			"thumbnail": "",
			"filename": "",
			"tags": []
		}
	],
	"reviews": [
		{
			"title": "",
			"authors": [
				{
					"name": "",
					"avatar": ""
				}
			],
			"thumbnail": "",
			"filename": "",
			"tags": []
		}
	],
	"stories": [
		{
			"title": "",
			"authors": [
				{
					"name": "",
					"avatar": ""
				}
			],
			"thumbnail": "",
			"filename": "",
			"tags": []
		}
	],
	"reportages": [
		{
			"title": "",
			"authors": [
				{
					"name": "",
					"avatar": ""
				}
			],
			"thumbnail": "",
			"filename": "",
			"tags": []
		}
	],
	"poetry": [
		{
			"title": "",
			"authors": [
				{
					"name": "",
					"avatar": ""
				}
			],
			"thumbnail": "",
			"filename": "",
			"tags": []
		}
	]
}