.blogH1 {
    color: $main-color;
    font-weight: 300;
    margin: 0;
}

.wrapperDesktop {
    a {
        width: 100%;
        height: 100%;
    }
}

.wrapperMobile {
    width: 100%;
    min-height: auto;


    .div {
        height: 50vh;
        width: 100%;
        position: relative;
    }


}

.yellowbar {

    background: $third-color;
    position: absolute;
    @include center;
    @include transition-ease;

    p {
        font-size: 1.5rem;
        color: $second-color;
        margin: 0;
        @include transition-ease;
        font-weight: 300;
    }
}

.article {
    background: url(../img/old-newspaper-350376_640.jpg);
    background-size: cover;

}

.feuilleton {
    background: url(../img/microphone-5594702_640.jpg) center;
    background-size: cover;
}

.interview {

    background: url(../img/writing-1209121_640.jpg) bottom;
    background-size: cover;
}

.review {
    background: url(../img/breakfast-1869772_640.jpg) center center;
    background-size: cover;
}

.story {
    background: url(../img/storytelling-4229843_640.jpg)center;
    background-size: cover;
}

.poetryCorner {
    background: url(../img/pen-4163403_640.jpg);
    background-size: cover;
}