//header in _about

.discounts {
    .image {
        position: relative;
        overflow-x: hidden;
    }

    .hardrock {
        background: url(../img/Hard_Rock_Cafe_-_wspolpraca.jpg) center;
        background-size: 95%;
        background-repeat: no-repeat;
    }


    .starbucks {
        background: url(../img/starbucks_-_wspolpraca.jpg) center;
        background-size: 95%;
        background-repeat: no-repeat;
    }

    .gym {
        background: url(../img/RK_-_wspolpraca.jpg) center;
        background-size: 95%;
        background-repeat: no-repeat;
    }

    .restaurant {
        background: url(../img/Mamma_mia_-_wspolpraca.jpg) center;
        background-size: 95%;
        background-repeat: no-repeat;
    }

    .restaurant2 {
        background: url(../img/RetroInk_-_wspolpraca.jpg) center;
        background-size: 95%;
        background-repeat: no-repeat;
    }

    .club {
        background: url(../img/RIN_-_wspolpraca.jpg) center;
        background-size: 95%;
        background-repeat: no-repeat;
    }
}