.menu-btn {
    position: absolute;
    z-index: 3;
    right: 1rem;
    top: 5vh;
    height: 20px;
    width: 28px;
    cursor: pointer;
    @include transition-ease;
    visibility: visible;

    &__burger {
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 28px;
        height: 3px;
        background: $second-color;
        @include transition-ease;

        &::before {
            content: '';
            position: absolute;
            top: -8px;
            width: 28px;
            height: 3px;
            background: $second-color;
        }

        &::after {
            content: '';
            position: absolute;
            top: 8px;
            width: 20px;
            height: 3px;
            background: $second-color;
        }

        &.open {
            transform: rotate(720deg);
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(5px, 8px);
            }

            &::after {
                width: 28px;
                transform: rotate(-45deg) translate(3px, -7px);
            }
        }
    }
}

nav {
    height: 12.5vh;
    position: relative;
    background: $main-color;

    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1rem;
        height: 90%;
        z-index: 3;
    }

    .menu-nav {
        height: 100vh;
        width: 100%;
        // overflow: hidden;
        background: $main-color;
        transform: translateY(-100%);
        z-index: 2;
        @include transition-ease;
        @include center;
        flex-direction: column;

        &.open {
            transform: translateY(0);
        }

        .item {
            list-style-type: none;
            margin-top: 1rem;

            .link {
                text-decoration: none;
                color: $third-color;
                font-size: 1.5rem;
            }
        }


    }
}