img {
    height: 10vh;
}


.link {
    padding: 0 1rem;
    color: $second-color;
    font-size: 1rem;
    @include transition-ease;
}

.link:hover {
    color: $third-color;
    text-decoration: none;
}

.menuBar {
    background: $main-color;
}