@import 'mixins';
@import 'variables';
@import 'reset';
@import 'menu';
@import 'footer';
@import 'responsive';
@import 'responsiveBlog';
@import 'homepage';
@import 'about';
@import 'discounts';
@import 'contact';
@import 'blogHomepage';
@import 'article';