body {
    font-family: $font-style;
}

.header {
    @include center;

    h1 {
        font-family: $font-style;
        font-weight: bold;
        opacity: 0;
        animation: fade 2s 2s linear forwards;
        color: $third-color;
    }
}

.about {
    .img {
		background-color: $main-color;
		background-size: cover;
		background-repeat: no-repeat;
		background-position-x: center;
		opacity: 0;
		animation: fade 2s 3s linear forwards;
    }

    .text {
        background-color: $main-color;
        opacity: 0;
		animation: fade 2s 3s linear forwards;
		@extend .d-flex;
		@extend .flex-column;
		@extend .justify-content-around;
		@extend .rounded;

        h1 {
            color: $third-color;
            margin: 0 auto;
            text-align: center;
        }

        h2 {
            color: $second-color;
			margin: 0 auto;
			text-align: center;
        }

        p {
            color: $second-color;
            margin: 0 auto;
            text-align: center;
        }
    }
}
