//header in _about

.discounts {
    .image {
        position: relative;
        overflow-x: hidden;
		@include transition-ease;
		background-size: 95% !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		opacity: 0;
    }
    .image:hover {
        transform: scale(1.05);
    }

	.discount {
		&-1 {
			animation: fade 1s 3s linear forwards;
		}
		&-2 {
			animation: fade 1s 3.5s linear forwards;
		}
		&-3 {
			animation: fade 1s 4s linear forwards;
		}
		&-4 {
			animation: fade 1s 4.5s linear forwards;
		}
		&-5 {
			animation: fade 1s 5s linear forwards;
		}
		&-6 {
			animation: fade 1s 5.5s linear forwards;
		}
		&-7 {
			animation: fade 1s 6s linear forwards;
		}
		&-8 {
			animation: fade 1s 6.5s linear forwards;
		}
	}
}