.bg {
    background-color: $about-bg-color;
}

.banner {
    height: 70vh;
    background: url(../img/_DSC4427.jpg);
    background-size: cover;
    display: flex;
    position: relative;
    opacity: 0;
    animation: fade 1s 0.5s linear forwards;

    .brightness {
        width: 100%;
        height: 100%;
        background: $main-color;
        opacity: 0.5;
    }

    @keyframes fade {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }

    .headings {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        width: 100vw;


        h1 {
            color: $third-color;
            font-family: $font-style;
            text-align: center;
            font-weight: 400;
            opacity: 0;
            animation: fade 2s 3s linear forwards;
        }

        h2 {

            color: $third-color;
            font-family: $font-style;
            text-align: center;
            font-weight: 400;
            opacity: 0;
            animation: fade 2s 3.5s linear forwards;
        }

        h3 {

            color: $third-color;
            font-family: $font-style;
            text-align: center;
            font-style: italic;
            font-weight: 300;
            opacity: 0;
            animation: fade 2s 4s linear forwards;
        }
    }
}

.bar {

    background: $main-color;
    @include center;
    transform: translateX(200%);
    animation: fadeRight 2s 1s linear forwards;

    a {
        i {
            font-size: 2rem;
            color: $third-color;
            padding: 1rem;
            z-index: 3;
            @include transition-ease;
        }
    }



    i:hover {
        transform: scale(1.5);
    }
}

@keyframes fadeRight {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}