- const title = content.title

doctype html
html( lang="pl" )
	include ../elements/head.pug

	body
		include ../elements/menu-drop.pug

		.container-fluid
			include ../elements/nav.pug

			.main-min-height.blog-content-wrapper
				.title #{content.title}

				.authors
					each author in content.authors
						.authorWrapper
							img( src=`/img/blog/authors/${author.avatar}` )
							p #{author.name}

				.content-wrapper !{body}

			include ../elements/footer.pug

	include ../elements/scripts.pug