nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $main-color;

    a {
        padding: 0 1rem;
        font-size: 1.3rem;
        @include transition-ease;
        color: $third-color;
    }

    a:hover {
        color: $second-color;
        text-decoration: none;
    }

}

.menu {
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    z-index: 6;
    background-color: $main-color;

    img {
        height: 90px;
    }

    .burger {
        width: 45px;
        height: 45px;
        z-index: 4;
        cursor: pointer;
        position: relative;
        @include transition-ease;

        &__bars {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateX(-50%);
            width: 28px;
            height: 3px;
            background-color: $second-color;
            @include transition-ease;

            &::before {
                content: '';
                position: absolute;
                top: -8px;
                width: 28px;
                height: 3px;
                background-color: $second-color;

            }

            &::after {
                content: '';
                position: absolute;
                top: 8px;
                width: 20px;
                height: 3px;
                background-color: $second-color;
            }

            &.open {
                transform: rotate(720deg);
                background: transparent;


                &::before {
                    transform: rotate(45deg) translate(5px, 8px);
                }

                &::after {
                    width: 28px;
                    transform: rotate(-45deg) translate(3px, -7px);
                }
            }
        }
    }


}

.menu-drop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    transform: translateY(-100%);
    z-index: 3;
    flex-direction: column;
    @include transition-ease;
    background-color: $main-color;

    .menu-bar {
        height: 15vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $main-color;

        img {
            height: 90px;
        }
    }

    .list {
        height: 70vh;
        @include center;
        flex-direction: column;
        background-color: $main-color;

        a {
            font-size: 1.5rem;
            color: $third-color;
            margin: .5rem 0;
            text-decoration: none;
        }
    }

    .menu-IconBar {
        height: 15vh;
        @include center;
        background-color: $main-color;

        i {
            font-size: 2rem;
            color: $third-color;
        }
    }

}

.open {
    transform: translateY(0);
}